{% extends "root/auth/fetch_base.sql.tera" %}
{% block base_lookup %}
  SELECT
    sess.user_id,
    users.organization_id,
    om.active,
    users.verified
  FROM user_sessions sess
  JOIN users ON sess.user_id = users.id
  JOIN organization_members om ON users.id = om.user_id AND users.organization_id = om.organization_id
  WHERE sess.id = $1
    AND sess.hash = $2
    AND expires_at > now()
  LIMIT 1
{% endblock base_lookup %}
