{% for module in models -%}
pub mod {{ module.module_name }};
{%- endfor %}

use axum::Router;

use crate::server::ServerState;

pub fn create_routes() -> Router<ServerState> {
    Router::new()
        {% for module in models | filter(attribute="has_any_endpoints", value=true) %}
            .merge({{ module.module_name }}::endpoints::create_routes())
        {% endfor %}
}
