mod generated;
pub use generated::queries;
pub use generated::types::*;

pub mod endpoints;

{% if predefined_object_id  %}
pub type {{id_type}} = filigree::auth::{{id_type}};
{% else %}
filigree::make_object_id!({{id_type}}, {{id_prefix}});
{% endif %}

