{%- set fields = user_model.fields %}
INSERT INTO {{user_model.table}}
(
  id,
  organization_id,
  password_hash,
  {{ fields
    | filter(attribute='owner_write', value=true)
    | map(attribute='sql_name')
    | join(sep=', ') }}
)

VALUES

(
  $1, $2, $3

{% for field in fields | filter(attribute='owner_write', value=true) %}
  , ${{loop.index + 3}}
{% endfor %}
)
RETURNING
{{ fields | filter(attribute='never_read', value=false) | map(attribute='sql_full_name') |  join(sep=', ') }}

