{% if belongs_to_field %}
DELETE FROM {{table}}
WHERE
{% set p = 1 %}
{% if not global %}
  {% set p = 2 %}
  organization_id = $1 AND
{% endif %}
  id = ${{p}}
  AND {{belongs_to_field.sql_name}} = ${{p + 1}}

{% endif %}

