{% import "sql_macros.tera" as macros %}
SELECT
  {{ fields
    | filter(attribute = field_filter_attribute, value = true)
    | map(attribute='sql_full_name')
    | join(sep=',\n') }},
FROM
  {{ table }}
WHERE
  id = $1
  {% if not global %}
    AND team = $2
  {% endif %}
  AND {{ macros::permissions_check(actor_ids="$3", team="$2", permissions=[owner_permission, read_permission]) }}

