use crate::server::ServerState;

{% for s in submodules %}
pub mod {{s}};
{% endfor %}

pub fn create_routes() -> axum::Router<ServerState> {
    axum::Router::new()
        {% for s in submodules -%}
        .merge({{s}}::create_routes())
        {% endfor %}
}

