{% import "macros.tera" as macros %}
DELETE FROM {{table}}
WHERE
  id = $1
  AND team = $2
  AND {{ macros::permissions_check(user="$3", team="$2", permissions="IN ({{admin_permission}}, {{delete_permission}})") }}

