INSERT INTO {{table}}
(
  {{ fields
    | map(attribute='sql_name')
    | join(sep=', ') }}
)

VALUES

(

{% for field in fields | filter(attribute='updatable', value=true) %}
  ${{loop.index}}{% if not loop.last %},{% endif %}
{% endfor %}
)

