{% set insertable_fields = fields | filter(attribute='updatable', value=true) %}
INSERT INTO {{table}}
(
  {{ insertable_fields
    | map(attribute='sql_name')
    | join(sep=', ') }}
)

VALUES

(

{% for field in insertable_fields %}
  ${{loop.index}}{% if not loop.last %},{% endif %}
{% endfor %}
)

RETURNING
  {{ fields | map(attribute='sql_full_name') | join(sep=', ') }}
