{% import "macros.tera" as macros %}
UPDATE
  {{table}}
SET
  {% for field in updatable_fields %}
    {{field.sql_name}} = ${{ loop.index + 3 }},
  {% endfor %}
  updated_at = now()
WHERE
  id = $1
  AND team = $2
  AND {{ macros::permissions_check(user="$3", team="$2", permissions=update_permission) }}
