queue.db
target
storage
.state
Cargo.lock
*/migrations
*/src

# SvelteKit
*/web/src/lib/models
*/web/src/lib/components
*/web/src/lib/server
*/web/src/routes/auth
*/web/src/routes/login
*/web/src/routes/logout
*/web/src/routes/+error.svelte
*/web/src/routes/+layout.server.ts
*/web/src/routes/+layout.svelte
*/web/src/routes/+page.server.ts
*/web/src/routes/+page.ts

app.d.ts
app.postcss
postcss.config.js
hooks.client.ts
hooks.server.ts
model_types.ts
tailwind.config.js


# HTMX
*/web/src/*.js
*/web/src/*.ts

pnpm-lock.yaml
